 /* CSS styles for slideshow container and images */
    .slideshow-container {
      position: relative;
      max-width: 800px;
      margin: 0 auto;
    }
  
    .slideshow-container img {
      width: 100%;
      height: auto;
    }
  
    /* CSS styles for slideshow navigation dots */
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.3s ease;
    }
  
    .active {
      background-color: #717171;
    }

    .slide-image {
        width: 100%;
        height: auto;
    }
